################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cognitiveservice/ComputervisionapiSample1/.vs/ComputervisionapiSample1/v15/Server/sqlite3
